<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Squash</title>
</head>
<body>
    {{> header}}
    <button onclick="e()">{{screamIt welcome}}</button>

    {{> footer}}

<script>
    function e() {
        alert('WELCOME TO MOBILE LEGENDS');
    }
</script>
</body>
</html>